###############################################################################
# Enforce Unix style endings where necessary.
###############################################################################
*.sh,*.py text eol=crlf 
*.pb binary
*.jpg binary