###############################################################################
# Enforce Unix style endings everywhere.
###############################################################################
* text eol=crlf
