attrdict==2.0.0
gevent==1.4.0
gevent-websocket==0.10.1
h5py==2.6.0
python-socketio==4.4.0
numpy==1.16.6
Pillow==6.2.2
scipy==0.19.1
Markdown==3.1.1
setuptools==41.0.0
tensorflow==1.15
ujson==1.35
wsaccel==0.6.2
