<?xml version="1.0"?>
<launch>
    <!-- Simulator Bridge -->
    <include file="$(find styx)/launch/server.launch" />

    <!--Traffic Light Locations and Camera Config -->
    <param name="traffic_light_config" textfile="$(find tl_detector)/site_traffic_light_config.yaml" />

    <!--Traffic Light Image Extractor Node -->
    <include file="$(find tl_detector)/launch/tl_image_extractor.launch"/>

    <!--Camera Calibration YAML -->
    <param name="grasshopper_calibration_yaml" textfile="$(find styx)../../../data/grasshopper_calibration.yml" />

    <!--Camera Info Publisher -->
    <include file="$(find camera_info_publisher)/launch/camera_info_publisher.launch"/>
</launch>
