<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="model_path" value="$(find tl_detector)/light_classification/classifier_graph_sim.pb" />
        <param name="labels_path" value="$(find tl_detector)/light_classification/classifier_labels.txt" />
    </node>
</launch>
