<launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="-d 2 $(find tl_detector)/traffic_light_bag_file/traffic_light_training.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/image_color"/>
  </node>
</launch>